:root{
    --color_primary: deepskyblue;
    --color_secundary: rgb(255, 0, 43) ;
    --oscurito: rgb(158, 176, 201);
    --color_claro:rgb(183, 233, 233);
    
}
html{
    font-size: 62.5%;
}
body{
    text-align: center;
    font-family: monospace;
}
h1, h3{
    color: var(--color_secundary);
    font-size: 2rem;
}
p, span {
    font-size: 1.6rem;
    
}
.container{
    border: 0.5rem gray solid;
    margin: 1rem auto;
}

.card{
    text-align: left;
    padding: 2rem;
}
header{
    margin: 2rem;
}
header {
    font-size: 1.5rem;
    color: var(--color_primary);
    box-shadow: 0.5rem 0rem 3rem 0.1rem;
}
header b{
    font-size: 2.4rem;
    margin: 0 3rem;
}


.footer{
    background-color: var(--oscurito);
    padding: 1rem;
}

.footer__titulo{
    color: var(--color_secundary);
    font-size: 1.8rem
}

.footer__list{
    padding: 0.5rem;
}
.nav-list-item{
    font-size: 1.8rem;
    display: inline-block;
    margin: 0 2rem;
}

.nav-link::after{
    content:'|';
}
.footer_titulo-claro{
    color:var(--color_claro);
}

.nav-link{
    text-decoration: none;
}

.nav-link:hover{
    content: '|';
    color:var(--color_secundary);
    font-size: 2rem;
}